* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;

}

body {
    background-color: rgb(255, 236, 221);
}

header {
    padding-left: 40px;
    display: flex;
    position: relative;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
    border: 5px solid rgb(152, 197, 233);
    background-color: rgb(236, 239, 245);
} 

#bea-pestano {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    border: solid 5px rgb(32, 43, 76);
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
}

.avatar {
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    height: 90px;
    width: 90px;
}

nav ul {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav ul li {
    padding: 15px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    font-size: 150%;
}

.h1-about {
    text-indent: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    line-height: 20px;
}

#about-me {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 20px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

#work {
    text-indent: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
}

#section-subtitle {
    display: flex;
    justify-content: flex-end;
    background-image: url("https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg");
    background-size: cover;
    height: 20%;
    border: 5px solid rgb(111, 111, 218);
    background-color: rgb(203, 221, 221);
}

#subtitle {
    border: 5px solid rgb(35, 62, 122);
    border-radius: 0 20px 0 20px;
    background-color: rgb(241, 228, 169);
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 70px;
    display: flex;
}

.horiseon {
    position: relative;
    bottom: 100px;
    left: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 150%;
}

.led-title {
    position: relative;
    bottom: 100px;
    left: 400px;
    width: max-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    font-size: 150%;
    color: white;
}

.calc-title {
    position: relative;
    bottom: 100px;
    left: 450px;
    width: max-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 120%;
}

.pastel-puzzle {
    position: relative;
    bottom: 100px;
    left: 400px;
    width: max-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 120%;
}

 .img {height: 30%;
    width: 30%;
    border: 5px solid;
    border-color: rgb(175, 204, 195)}



#horiseon-webpage {
    margin: 40px;
    height: 90%;
    width: 90%;
    border: 5px solid;
    border-color: rgb(175, 204, 195)
}

img:hover {
    background-color: yellow;
}

.led {height: 30%;
    width: 30%;
    border: 5px solid;
    border-color: rgb(175, 204, 195)
}


.run-buddy {
    position: relative;
    bottom: 100px;
    left: 450px;
    width: max-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 120%;
}


.nav-2 ul {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}

#contact {
    text-indent: 50px;
    margin: 20px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}






@media screen and (max-width:992px) {
    li {
        background-color: lightblue;
    }

}